<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head><meta charset="UTF-8"></head>

<body>
<th:block th:replace="layout/base :: base(
	'管理者ログイン',
	~{::head},
	~{::#page},
	~{::script}
)">
	
<head></head>
<div id="page"class ="col-md-6 mx-auto">
<h1 class = "mb-3">会員管理システム</h1>

<form>
	<div class="mb-3">
		<label class="form-label">ID</label>
		<input type = "text" class="form-control">
	</div>
	<div class="mb-3">
		<label class="form-label">Password</label>
		<input type="password" class="form-control">
	</div>
	
	<button class = "btn btn-primary w-100"type="submit">ログイン</button>
</form>
</div>
<script></script>



	</th:block>
</body>
</html>