<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">


<body>
	<th:block th:replace="layout/base :: base(
		'ログイン選択',
		~{::head},
		~{::#page},
		~{::script}
		)">
	<!--headに追加したいものがあればここに書く(無ければ空でOK-->
	<head></head>
	
		<div id="page">
			<div class="alert alert-warning"th:if="${param.needLogin}">
						ログインしてください
					</div>
	<h1 class="mb-4">ログイン選択</h1>
	<!--th:hrefにより/member/loginというURLを作れと指示-->
	<!--class=btnでこの要素はボタンとして扱うと宣言-->
	
	<div class="d-flex justify-content-center gap-3">
	<a th:href="@{/member/login}" class="btn btn-primary">
		会員の方はこちら
	</a>
	
	<a th:href="@{/admin/login}" class="btn btn-secondary">
		管理者の方はこちら
	</a>
	</div>
	</div>
	<!--scriptを追加したい時だけ書く(無ければ空でOK-->
	<script></script>
	</th:block>

</body>
</html>